html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url(../img/farm-in-oregon.png); /* Edited photo via https://www.goodfreephotos.com */
    background-size: cover;
    font-family: 'Coda', cursive;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    padding-bottom: 0;
}

h1 {
    font-family: 'Alegreya SC', serif;
    font-weight: 300;
    margin: 0 auto;
    background: url(../img/cow-pattern.png);
    background-repeat:repeat-x;
    background-position:0 0;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    color: #EAEAEA;
    padding: 1em;
    margin: 0 auto;
}

@media screen and (max-width: 431px) {
    .container {
    width: 100%;
    }

    h1 {
        font-size: 50px;
        margin: 0.5em 0;
    }

    #timer {
        font-size: 32px;
        margin-top: -0.3em;
    }

    .deck {
        width: 95vw;
        min-height: 95vw;
        padding: 5px;
        border-radius: 5px;
        margin-top: 2em;
    }

    .deck .card {
        height: 100px;
        width: 100px;
    }

    .score-panel {
        font-size: 30px;
    }
}

@media screen and (orientation: landscape) {
    .container {
        width: 80%;
    }

    h1 {
        font-size: 54px;
    }

    .deck {
        width: 95vw;
        min-height: 95vw;
        padding: 5px;
        border-radius: 5px;
        margin-top: 2em;
    }

    .deck .card {
        height: 22vw;
        width: 22vw;
    }

    .score-panel {
        font-size: 20px;
    }

    button {
        margin-top: 1em;
        width: 100px;
        height: 100px;
        font-size: 1.2em;
    }
}

@media screen and (orientation: portrait) {
    .container {
        width: 80%;
    }

    h1 {
        font-size: 80px;
        margin: 1em auto 0.5em auto;
    }

    .score-panel {
        font-size: 36px;
        margin-bottom: 1em;
    }

    #timer {
        font-size: 50px;
        margin-top: -0.3em;
    }

    .deck {
        width: 80vw;
        min-height: 60vh;
        padding: 32px;
        border-radius: 10px;
        margin: 0 0 3em;
    }

    .deck .card {
        height: 150px;
        width: 150px;
        margin: 0 5px 5px;
    }

    #modal {
        font-size: 3em;
    }

    button {
        width: 300px;
        height: 300px;
        font-size: 1.5em;
    }
}

/*
 * Styles for the deck of cards
 */

.deck {
    background: rgba(229, 234, 238, 0.2);
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.deck .card {
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 0;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.4);
}

.deck .card.open {
    transform: rotateY(0);
    cursor: default;
    background-size: contain;
    background-repeat: no-repeat;
}

.open, .match {
    pointer-events: none;
}

.deck .card.match {
    cursor: default;
}

audio {
    display: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    font-family: 'Alegreya SC', serif;
    text-align: left;
}

.cow-pattern {
    background: url(../img/cow-pattern.png);
    background-repeat:repeat-x;
    background-position:0 0;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.score-panel {
    display: flex;
    justify-content: center;
    width: 100%;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    margin: 0 5px 0 0;
    color: #00ae5a;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.stars {
    order: 1;
    width: 25%;
}

#moves {
    order: 2;
    width: 30%;
}

#timer {
    order: 3;
    color: #333;
    height: 100%;
    width: 30%;
}

.restart {
    order: 4;
    color: #333;
    width: 10%;
}

/*
 * Cow images on the cards
 */
.alps.open {
    background: url(../img/cow1.jpg);
}

.calf.open {
    background: url(../img/cow2.jpg);
}

.head.open {
    background: url(../img/cow3.jpg);
}

.winter.open {
    background: url(../img/cow4.jpg);
}

.alpine.open {
    background: url(../img/cow5.jpg);
}

.farm.open {
    background: url(../img/cow6.jpg);
}

.highland.open {
    background: url(../img/cow7.jpg);
}

.tyrol.open {
    background: url(../img/cow8.jpg);
}

/*
 * Styles for modal window
 */
#modal {
    position: fixed;
    color: #eaeaea;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 20vh;
    background-color: #143527e7;
    z-index: 2;
    cursor: pointer;
    text-align: center;
}

button {
    background: url(../img/cow-pattern.png);
    color: #143527;
    text-shadow: 2px 2px 0 #eaeaea,
             -2px 2px 0 #eaeaea,
             2px -2px 0 #eaeaea,
             -2px -2px 0 #eaeaea;
    text-shadow: 2px 2px 1px #eaeaea,
             -2px 2px 1px #eaeaea,
             2px -2px 1px #eaeaea,
             -2px -2px 1px #eaeaea;
    border: none;
    border-radius: 50%;
}